.categories {
  &__images {
    display: grid;

    row-gap: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.category {
  &__photos {
    @include pageGrid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    display: block;

    overflow: hidden;

    border-radius: 4px;

    &--small {
      height: 130px;

      @include onTablet {
        height: 184px;

        grid-column: span 2;
      }

      @include onDesktop {
        height: 324px;

        grid-column: span 4;
      }
    }

    &--large {
      height: 130px;

      @include onTablet {
        height: 184px;

        grid-column: span 4;
      }

      @include onDesktop {
        height: 324px;

        grid-column: span 8;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
  }

  &__title {
    margin: 0;

    font-size: 24px;
    font-weight: 700;

    line-height: 140%;

    color: #292929;
  }
}

.view-all {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;

  margin-top: 40px;

  border-radius: 8px;

  background-color: #292929;

  color: #fff;

  font-weight: 700;

  text-decoration: none;

  transition: all 0.3s;

  @include on-tablet {
    width: 600px;
  }

  @include on-desktop {
    width: 324px;
  }

  &:hover {
    background-color: #111;
  }
}
