.contacts__form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.contacts__input,
.contacts__textarea {
  width: 100%;

  box-sizing: border-box;

  padding: 14px 16px;

  border: 2px solid transparent;
  border-radius: 8px;

  background-color: #f8f8fa;

  color: #292929;

  font-family: inherit;
  font-size: 14px;
  line-height: 140%;

  transition: border-color $effectDuration;
}

.contacts__input {
  height: 48px;
}

.contacts__textarea {
  height: 148px;

  resize: none;
}

.contacts__input:hover,
.contacts__textarea:hover {
  border-color: #d5d7de;
}

.contacts__input:focus,
.contacts__textarea:focus {
  outline: none;

  border-color: #292929;
}

