.header {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  height: 100vh;
  background-image: url('../../image/header-bg-mobile.png');
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include contentPaddingInline;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }

  &__title {
    margin: 0;

    font-weight: 800;
    line-height: 100%;

    font-size: 36px;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }
}
