.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.1));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--menu {
    background-image: url('../../image/icon-burger-menu-hover.png');
  }

  &--close {
    background-image: url('../../image/icon-close.png');
  }

  &--phone {
    position: relative;

    background-image: url('../../image/icon-phone-call.png');

    @include on-desktop {
      &::before {
        content: '+1 234 5555-55-55';

        position: absolute;

        top: 50%;
        right: 36px;

        transform: translateY(-50%);

        width: max-content;

        opacity: 0;

        pointer-events: none;

        color: #292929;

        font-size: 12px;

        font-weight: 700;

        letter-spacing: 2px;

        transition: opacity 0.3s;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}
