.page {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #292929; 

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(image/image.png);
  background-size: cover;
  background-position: center; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.header__title {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
}

.header__bottom {
  padding: 0 20px 40px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: row-reverse;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #E5E6E8;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding: 20px;
}

.menu__phone-number {
  display: block;
  font-size: 16px;
  

  line-height: 27px;
  color: inherit;
  text-decoration: none;
}

.menu__call-to-order {
  display: block;
  width: fit-content;

  padding-bottom: 7px;
  border-bottom: 1px solid #292929;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;

}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--phone {
  background-image: url(image/icon-Phone-call.png);
}

.icon--menu {
  background-image: url(image/icon-Burger-menu.png);
}

.icon--close{
 background-image: url(image/icon-close.png);
}
