$main-text-color: #292929;
$secondary-text-color: #9393a3;
$background-light: #f8f8fa;
$menu-background: #e5e6e8;
$white-color: #fff;

$main-font: 'Space Grotesk', sans-serif;

$main-text-color: #292929;

$tablet-min-width: 744px;

$desktop-min-width: 1260px;

$effectDuration: 0.3s;
